.media{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    /* margin-left: 100px; */
}

.media:hover{
    background-color:#fff;
    color: #000;
}

@media(max-width:550px){
    .media{
        width:60%;
        margin-left: 4rem;
    }
    
}


.poster{
    border-radius: 10px;
}
.title{
width: 100%;
text-align: center;
font-size: 17px;
padding: 8px 0;

}

.sunTitle{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
}

